/* generics */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.col {
    float: left;
}

.col.w-20 {
    width: 20%;
}

.col.w-40 {
    width: 40%;
}

.col.w-60 {
    width: 60%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: center;
}

.txt-white {
    color: white;
}

.txt-black {
    color: black;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-lightgray {
    background-color: rgb(240, 240, 240);
}

.btn {
    padding: 15px 25px;
    border-radius: 20px;
    margin: 0 15px;
}

.relative {
    position: relative;
}

/* header */

header .navbar {
    height: 80px;
    background-color: #2a5ee8;
    line-height: 80px;
}

#logo {
    vertical-align: middle;
}

header .navbar ul li {
    display: inline-block;
    margin: 0 20px;
}

header .navbar ul li a {
    text-decoration: none;
    color: white;
}

#login {
    background-color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 15px;
    color: black;
}

.spotlight {
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
    
.spotlight-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spotlight-content .spotlight-title {
    padding: 30px;
    font-size: 40px;
}

.spotlight-content .spotlight-p {
    font-size: 18px;
    line-height: 200%;
    padding-bottom: 30px;
}

.spotlight-content a {
    text-decoration: none;
}

/* main */

.main-section {
    height: 800px;
    
}

.opposite-section {
    height: 800px;
}

.last-section {
    height: 1000px;
}

.main-section .col {
    height: 100%;
}

.opposite-section .col {
    height: 100%;
}

.main-section-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 80px;
    padding-left: 20px;
}

.main-section-text h2 {
    font-size: 40px;
    font-weight: bolder;
}

.main-section-text p {
    line-height: 180%;
    margin-top: 25px;
    font-weight: bold;
}


.main-section img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.opposite-section-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 60px 100px 40px;
}

.opposite-section img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.opposite-section-text h2 {
    font-size: 40px;
    font-weight: bolder;
}

.opposite-section-text p {
    line-height: 180%;
    margin-top: 25px;
    font-weight: bold;
}

.text-sezione3 {
    padding: 0 120px 100px 30px
}

.last-section .last-section-text {
    padding: 80px 80px 40px 80px;
}

.last-section-text h2 {
    font-size: 40px;
    font-weight: bolder;
}

.last-section-text p {
    line-height: 180%;
    margin-top: 25px;
    font-weight: bold;
}


.last-section img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
